html, body{
    height: 100%;
    background-color: black;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    margin:  0 auto;
    width: 80%;
    padding: 5%;
}
nav a{
    text-decoration: none;
    color:red;
}
nav a:hover{
    color:#fff;
}
a{
    text-decoration: none;
    color:#fff;
}
a:hover{
    color:red;
}
.topo{
    text-align: center;
}

nav{
    margin: 5% 0;
    display: flex;
    justify-content: space-between;
    color: red;
}
.conteudo{
    margin-top: 5%;
}
.noticia{
    margin: 2%;
}
.videos{
    margin: auto 5%;
    display: flex;
    justify-content: space-between;
}